<launch>
  <group ns="gmapping">
    <node pkg="gmapping" type="slam_gmapping" name="gmapping" respawn="true" output="screen">
      <remap from="scan" to="/base_scan"/>
      <param name="base_frame" value="base_footprint"/>
      <param name="odom_frame" value="odom_combined"/>
    </node>
  </group>
</launch>