<launch>

 <node pkg="ndt_gslam" type="ndt_scanmatcher" name="ndt_scanmatcher" respawn="true" output="screen">
    <rosparam>
      publish_tf: true
      robot_base_frame_id: "base_footprint"
      odom_farme_id: "odom"
      scanmatcher_farme_id: "odom_inc"
      cell_size: 0.6
      scanmatch_window_radius: 20.0
    </rosparam>
  </node>

<!--  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se2" clear_params="true" output="screen">
    <rosparam command="load" file="$(find ndt_gslam)/params/ukf_params.yaml" />
  </node>-->

<!--  <node pkg="odometry_tf_publisher" type="odometry_tf_publisher_node" name="odom_combined_tf" respawn="true" output="screen">
    <remap from="odom" to="/odometry/filtered"/>
    <rosparam>
      base_frame_id: base_footprint
      fixed_frame_id: odom_combined
      top_frame_id: odom_inc
    </rosparam>
  </node>-->
 <group ns="slam">
   <node pkg="ndt_gslam" type="graph_slam2d" name="graph_slam2d" respawn="true" output="screen">
      <rosparam>
          robot_base_frame_id: "base_footprint"
          odom_farme_id: "odom_inc"
          map_farme_id: "map"
          cell_size: 0.4
          node_gen_distance: 1.0
          loop_max_distance: 20.0
          loop_min_distance: 0.1
          loop_score_threshold: 0.6
          serialize_graph: true
      </rosparam>
    </node>
  </group>
</launch>
