<launch>
  <group ns="slam">
    <!-- <param name="tf_prefix" value="p3dx_0"/> -->
    <node pkg="ndt_gslam" type="graph_slam2d" name="graph_slam2d" respawn="true" output="screen">
      <rosparam>
          robot_base_frame_id: "base_footprint"
          odom_farme_id: "odom_combined"
          map_farme_id: "map"
          cell_size: 0.25
          node_gen_distance: 0.5
          loop_max_distance: 20.0
          loop_min_distance: 0.0
          loop_score_threshold: 0.8
          serialize_graph: true
      </rosparam>
      <remap from="/scan" to="/base_scan" />
    </node>
  </group>
</launch>
